.btn {
	display: flex;
	align-items: center;
	gap: 8px;
	background: #1E6F9F;
	border-radius: 8px;
	border: 1px solid #1E6F9F;
	outline: none;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 140%;
	padding: 16px;
}

.btn:hover {
	background: #4EA8DE;
	transition: 0.5s ease;
}

.deleteBtn {
	position: absolute;
	right: 16px;
	cursor: pointer;
	color: #808080;
}

.deleteBtn:hover {
	background: #333333;
	color: #E25858;
	transform: scale(1.1);
	border-radius: 4px;
	transition: 0.3s all;
}